.header {
    padding: 0 20%;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

}
.navItem {
    color: #71777c;
    margin-left: 40px;
    font-size: 16px;
}
.navItemActive {
    color: #007fff;
}
.navItem:hover {
    opacity: .8;
}
.searchInput {
    border: 1px solid hsla(0,0%,59.2%,.2);
    background-color: rgba(227,231,236,.2);
    height: 31.2px;
    border-radius: 2px;
    padding: 0 10px;
}